body{
    margin-top: 70px;
    scroll-behavior: smooth;
    background: url("originalbackground.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


.waitingForConnection {
  animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}
@keyframes blinker { to { opacity: 0; } }

.waitingForConnection {
  animation: blinker 1.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}
@keyframes blinker { to { opacity: 0; } }

.waitingForConnection2 {
  animation: blinker2 0.6s cubic-bezier(1, 0, 0, 1) infinite alternate;  
}
@keyframes blinker2 { to { opacity: 0; } }

.waitingForConnection3 {
  animation: blinker3 1s ease-in-out infinite alternate;  
}
@keyframes blinker3 { to { opacity: 0; } }

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.arrow {
  border: solid rgba(255, 255, 255, 0.155);
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 20px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


footer{
    padding-top: 30px;
    padding-bottom: 30px;
}

#nav1
{  
    background-color:#F00; /*whichever you want*/
    opacity: 0.5; 
    filter:(opacity=50);       
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}


 /* Style all font awesome icons */
 .fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  


  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  } 

    /* Github */
    .fa-github {
        background: #444444;
        color: white;
      } 

    /* LinkedIn */
    .fa-linkedin {
        background: #007bb6;
        color: white;
    } 

    /* Google */
    .fa-google {
        background: #dd4b39;
        color: white;
    } 

    /* Mastodon */
    .fa-mastodon {
        background: #2c90db;
        color: white;
    } 

i.fa {
    font-size: 15px;
    padding: 0px;
    width: auto;
    height: auto;
}

i.fa:hover{
  opacity: 1;
}

.navbar-nav .nav-link {
  margin-right: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
